extends layout
block title
    |Statik
block breadcrumb_title
    li Home
block content_title
    |  Home
block content
    .row
        .col-md-4
        .col-md-4
          h1 #{title}
          p Welcome to #{title}
          p We currently have #{numberOfPlugins} plugins registered and tracking #{numberOfServers} server(s)!
          a.btn.btn-primary(href="/info")
            span.glyphicon.glyphicon-info-sign
            |&nbsp;Learn More
          &nbsp;
          a.btn.btn-success(href="/plugins")
            span.glyphicon.glyphicon-list
            |&nbsp;Plugin List