extends layouts/layout
block title
    |Statik
block content
    h2
        | Statik
        br
        small
            | The system info collector for 
            a(href='http://bukkit.org/', target='_blank') Bukkit
            |  plugins.
    hr
    .row
        .col-lg-12
            p
                | Statik is a statistic collection system for Bukkit plugins, actively used by
                strong  #{numberOfPlugins}
                |  plugins and counting.
            p
                | In the last
                strong  {TIME}
                |  from countries across the globe over
                strong  {PLAYERS}
                |  have been seen playing on over
                strong  #{numberOfServers}
                |  servers.
