doctype html
html
  head
    title Hello wolrd!
    block head
  body
    header
      include header.jade
    nav
      include nav.jade
    main
      block content
    footer
      include footer.jade

