doctype html
html
  head
    title Hello wolrd!

    style(
      type="text/css"
      src="/css/semantic.min.css"
    )

    script(
      type="text/javascript"
      src="/javascript/semantic.min.js"
    )

    block head
  body.ui.one.column.page.grid
    .column
      .row
         header.ui.segment
          include header.jade
      .row
        nav.ui.left.floated.vertical.menu
          include nav.jade
        main.ui.segment
          block content
      .row
        footer.ui.segment
          include footer.jade

