doctype html
html
  head
    title Hello world!

    link(
      rel   = "stylesheet"
      type  = "text/css"
      href  = "/css/semantic.min.css"
      media = "all"
    )

    link(
      rel   = "stylesheet"
      type  = "text/css"
      href  = "/css/statik.css"
      media = "all"
    )

    block head
  body
    header
      include header.jade
    aside
      nav.ui.vertical.inverted.menu
        include nav.jade
    main
      block content
    footer
      include footer.jade

    script(
      src = "/javascript/jquery-2.1.1.min.js"
    )

    script(
      src = "/javascript/semantic.min.js"
    )

