extends layouts/login_layout
block content
  .container
    if error != ''
        div.alert.alert-danger(role='alert') #{error}
    .login-form-section
      .login-content.animated.fadeIn
        form(method='POST')
          .section-title
            h3 Statik - Login
            hr
            p
              a(href='/users/passwordreset/')
                span.pull-left.text-muted Forgot Password
              a(href='/users/signup/')
                span.pull-right.text-muted Register
            br
            hr
          .textbox-wrap
            .input-group
              span.input-group-addon
                i.fa.fa-envelope
              input.form-control(type='text', required='', name='email', placeholder='Email Address')
          .textbox-wrap
            .input-group
              span.input-group-addon
                i.fa.fa-key
              input.form-control(type='password', required='', name='password', placeholder='Password')
          input(type='hidden' name='_csrf' value='#{csrfToken}')
          .login-form-action.clearfix
            a.btn.btn-primary.pull-left(href='/')
                i.fa.fa-chevron-left
                | &nbsp; Back
            button.btn.btn-success.pull-right(type='submit')
                | Login &nbsp;
                i.fa.fa-chevron-right
      .login-form-links.animated.fadeIn
        h4.blue Sign in using other accounts
        hr
        a.btn.btn-danger.btn-block.btn-labeled(href='/users/login/google')
          span.btn-label
            i.fa.fa-google
          | Google
        br
        .row
          .col-md-6
            a.btn.btn-inverse.btn-block.btn-labeled(href='/users/login/github')
              span.btn-label
                i.fa.fa-github
              | Github
          .col-md-6
            a.btn.btn-info.btn-block.btn-labeled(href='/users/login/bitbucket')
              span.btn-label
                i.fa.fa-bitbucket
              | Bitbucket
