doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title Password Reset - Statik
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/login.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css', rel='stylesheet')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')
  body.eternity-form(style='background-color:#1d1d1d')
    section(data-panel='first', style='padding-top:50px')
      .container
        .login-form-section
          .login-content
            form
              .section-title
                h3 Statik - Password Reset
                hr
                p
                  | If you have forgotten your password simply enter your email address below and we will send you a link to reset it.
              .textbox-wrap
                .input-group
                  span.input-group-addon
                    i.fa.fa-envelope
                  input.form-control(type='email', required='', name='email', placeholder='Email Address')
              .login-form-action.clearfix
                a.btn.btn-primary.pull-left(href='/users/login/')
                  i.fa.fa-chevron-left
                  |  &nbsp; Back to Login
                button.btn.btn-success.pull-right(type='submit')
                  | Continue &nbsp; 
                  i.fa.fa-chevron-right
    script(src='http://codefeed.in.iis2103.shared-servers.com/eternityForms/js/jquery-1.9.1.js')
    script(src='http://codefeed.in.iis2103.shared-servers.com/eternityForms/js/jquery.icheck.js')
    script(type='text/javascript').
      $(function () {
      $("input").iCheck({
      checkboxClass: 'icheckbox_square-blue',
      increaseArea: '20%' // optional
      });
      $(".form-control").focus(function () {
      $(this).closest(".textbox-wrap").addClass("focused");
      }).blur(function () {
      $(this).closest(".textbox-wrap").removeClass("focused");
      });
      if ($(window).width() >= 968 && !Modernizr.touch && Modernizr.cssanimations) {
      $("body").addClass("scroll-animations-activated");
      $('[data-animation-delay]').each(function () {
      var animationDelay = $(this).data("animation-delay");
      $(this).css({
      "-webkit-animation-delay": animationDelay,
      "-moz-animation-delay": animationDelay,
      "-o-animation-delay": animationDelay,
      "-ms-animation-delay": animationDelay,
      "animation-delay": animationDelay
      });
      });
      $('[data-animation]').waypoint(function (direction) {
      if (direction == "down") {
      $(this).addClass("animated " + $(this).data("animation"));
      }
      }, {
      offset: '90%'
      }).waypoint(function (direction) {
      if (direction == "up") {
      $(this).removeClass("animated " + $(this).data("animation"));
      }
      }, {
      offset: $(window).height() + 1
      });
      }
      if ($(window).width() > 1000 && !Modernizr.touch) {
      var options = {
      $menu: ".main-nav",
      menuSelector: 'a',
      panelSelector: 'section',
      namespace: '.panelSnap',
      onSnapStart: function () { },
      onSnapFinish: function ($target) {
      $target.find('input:first').focus();
      },
      directionThreshold: 50,
      slideSpeed: 200
      };
      $('body').panelSnap(options);
      }
      });
