doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title Password Reset - Statik
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/login.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css', rel='stylesheet')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')
  body.eternity-form(style='background-color:#1d1d1d')
    section(data-panel='first', style='padding-top:50px')
      .container
        .login-form-section
          .login-content.animated.fadeIn
            form
              .section-title
                h3 Statik - Password Reset
                hr
                p
                  | If you have forgotten your password simply enter your email address below and we will send you a link to reset it.
              .textbox-wrap
                .input-group
                  span.input-group-addon
                    i.fa.fa-envelope
                  input.form-control(type='email', required='', name='email', placeholder='Email Address')
              .login-form-action.clearfix
                a.btn.btn-primary.pull-left(href='/users/login/')
                  i.fa.fa-chevron-left
                  |  &nbsp; Back to Login
                button.btn.btn-success.pull-right(type='submit')
                  | Continue &nbsp; 
                  i.fa.fa-chevron-right
    script(src='http://codefeed.in.iis2103.shared-servers.com/eternityForms/js/jquery-1.9.1.js')
    script(src='http://codefeed.in.iis2103.shared-servers.com/eternityForms/js/jquery.icheck.js')
    script(src='/js/login.js/')
