extends layouts/login_layout
block content
  .container
    .login-form-section
      .login-content.animated.fadeIn
        form
          .section-title
            h3 Statik - Password Reset
            hr
            p
              | If you have forgotten your password simply enter your email address below and we will send you a link to reset it.
          .textbox-wrap
            .input-group
              span.input-group-addon
                i.fa.fa-envelope
              input.form-control(type='email', required='', name='email', placeholder='Email Address')
          .login-form-action.clearfix
            a.btn.btn-primary.pull-left(href='/users/login/')
              i.fa.fa-chevron-left
              |  &nbsp; Back to Login
            button.btn.btn-success.pull-right(type='submit')
              | Continue &nbsp;
              i.fa.fa-chevron-right
