<!DOCTYPE html>
<html>
<head><title>Express</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/smartadmin-production.min.css">
    <link rel="stylesheet" href="/stylesheets/smartadmin-skins.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>
<body>
<div id="header">
    <div id="logo-group"><span id="logo"><img href="img/logo.png"></span><span id="activity"
                                                                               class="activity-dropdown"><i
            class="fa fa-user"><b class="badge">21</b></i></span>

        <div class="ajax-dropdown">
            <div data-toggle="button" class="btn-group btn-group-justified"><label class="btn btn-default"><input
                    type="radio" name="activity" id="ajax/notify/mail.html">Msgs(14)</label></div>
            <div class="ajax-notifications custom-scroll">
                <div class="alert alert-transparent"><h4></h4>Click a button to show messages here</div>
                <i class="fa fa-lock fa-4x fa-border"></i></div>
            <span>Last updated on 12/12/2013 9:43AM<button
                    data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading..."
                    class="btn btn-xs btn-default pull-right"><i class="fa fa-refresh"></i></button></span></div>
    </div>
    <div class="project-context hidden-xs"><span class="label">Projects:</span><span data-toggle="dropdown"
                                                                                     class="project-selector dropdown-toggle">Recent Projects<i
            class="fa fa-angle-down"></i></span>
        <ul class="dropdown-menu">
            <li><a href="#">Online e-merchant management system</a></li>
            <li><a href="#">Online e-merchant management system</a></li>
            <li><a href="#">Online e-merchant management system</a></li>
            <li class="divider"></li>
            <li><a href="#">Online e-merchant management system</a></li>
        </ul>
    </div>
    <div class="pull-right">
        <div id="hide-menu" class="btn-header pull-right"><span><a href="#" data-action="toggleMenu"
                                                                   title="Collapse Menu"><i
                class="fa fa-reorder"></i></a></span></div>
        <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
            <li><a href="#" data-toggle="dropdown" class="dropdown-toggle no-margin userdropdown"><img
                    src="img/avatars/sunny.png" alt="John Doe" class="online"></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#" class="padding-10 padding-top-0 padding-bottom-0">
                        <li class="fa fa-cog"></li>
                    </a>Settings
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<h1>Express</h1>

<p>Welcome to Express</p></body>
</html>