@import url("http://fonts.googleapis.com/css?family=Open+Sans");

/* Variables */
$header-height = 50px
$sidebar-width = 220px

$bg-header-footer = #444
$bg-aside         = #333
$bg-body          = #888

/* ----------------------------------------------------------------------- */

/* General  */
*
:after
:before
  box-sizing border-box

body
  background-color $bg-body
  font-family "Open Sans", sans-serif

header
footer
  background-color $bg-header-footer
  width 100%
  padding 0 15px
  margin 0
  z-index 1020

header
  position fixed
  top 0
  left 0
  height $header-height

footer
  position fixed
  left 0
  bottom 0
  padding-left $sidebar-width

aside
  background-color $bg-aside
  position fixed
  top 0
  left 0
  padding-top $header-height
  width $sidebar-width
  min-height 100%
  z-index 1010

nav.ui.vertical.inverted.menu
  width 100%

  &
  &>.item:first-child
  &>.item:last-child
    border-radius 0

main
  margin 0
  padding-top $header-height
  padding-left $sidebar-width
  z-index 1000
